html {
    font-size: 10px;
    min-width: 100vw;
    min-height: 100vh;
  }
  
  body,
  input,
  button,
  textarea,
  select {
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    padding: 20px;
  }