
// COLORS
$color-cross: #424242;
$color-darkgray: #333333;
$color-gray1:  #4F4F4F;
$color-gray2: #3B3B3B;
$color-gray3: #BDBDBD;
$color-gray4: #E0E0E0;
$color-gray5: #383633;
$color-lightgray: #8c8888;
$color-lightorange: #F1B56E;
$color-white: #ffffff;
$color-circle-brown: #814038;
$color-circle-blue: #3d4d64;
$color-circle-grey: #A3A2A1;