
.color-quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 24px;
  max-width: 385px;
  width: 100%;
    &--mb {
      margin-bottom: 40px;
  }
    &__text {
      @include text(1rem, 500, $color-darkgray, 165%);
      text-transform: uppercase;
      margin-right: 14px;
    }
}

.color {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.row-colors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 152px;
  width: 100%;

  &__wrapper {
    position: relative;
    cursor: pointer;
  }
  &__radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
      &:checked ~ .row-colors__circle {
        opacity: 1;
      }
    }
}

.row-colors__img {
    width: 16px;
    height: 16px;
}

.circle-white {
    fill: $color-white;
    stroke: $color-gray4;
}

.circle-brown {
    fill: $color-circle-brown;
}

.circle-grey {
    fill: $color-circle-g;
}

.circle-darkblue {
    fill: $color-circle-blue;
}

.circle-black {
    fill: $color-gray5;
}


.row-colors__wrapper {
  @include svg(16px);
  margin-right: 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-colors__circle {
   position: absolute;
   @include svg(22px);
   border: 1px solid $color-gray4;
   border-radius: 50%;
   left: -4px;
   top: -3,5px;
   opacity: 0;

    &--white {
      border: 1px solid $color-gray4;
    }
    &--brown{
      border: 1px solid $color-circle-brown;
    }
    &--darkblue{
      border: 1px solid $color-circle-blue;
    }
    &--black{
      border: 1px solid 
      $color-gray5;
    }
}

// Quantity

.quantity {
  display: inline-flex;
  align-items: center;
}

.numbers-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 62px;
  height: 16px;
  border: 1px solid $color-gray3;
  border-radius: 2px;
  padding: 4px;

  &__minus{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.333%;
  }
  &__number{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 33.333%;
    border-left: 1px solid $color-gray3;
    border-right: 1px solid $color-gray3;
  }
  &__plus{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.333%;
  }
}

.number {
  position: relative;
  cursor: pointer;

  &__radio {
    opacity: 0;
    z-index: -1;
    position: absolute;
  }
}

.number__radio:checked + .number__sign {
  transform: scale(1.2);
}