.container {
    background-color: $color-white;
    height: 100%;
    max-width: 560px;
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    position: relative;
  }